.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.inputContainer,
.outputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.outputContainer {
  margin: 20px 0;
}
.errorText {
  color: red;
  font-size: 1em;
}

.inputArea,
.smallInputArea {
  height: auto;
  max-width: 600px;
  margin: 10px 0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.smallInputArea {
  max-width: 400px;
  padding: 10px;
  font-size: 0.85em;
  margin-right: 10px;
}

.outputArea {
  min-height: 200px;
  max-height: 50vh;
  margin: 10px 0;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

.buttonContainer {
  margin: 10px 0;
  display: flex;
  align-items: flex-start;
  gap: 10px;
}

.primaryButton {
  font-size: 1em;
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.primaryButton:hover {
  background-color: #0056b3;
}

.addButton {
  padding: 5px 10px;
  font-size: 0.85em;
}

.loadingIndicator {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.loadingIndicator p {
  font-size: 1em;
  color: #007bff;
}
